<tr>
		<td><%= image_tag pin.image(:medium) %></td>
  	<td><%= pin.description %></td>
  	<td><%= link_to 'Show', pin %></td>
	  <td><%= if current_user == pin.user; link_to 'Edit', edit_pin_path(pin); end %></td>
	  <td><%= if current_user == pin.user; link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' };  end %></td>
</tr>